@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
body{
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 13px;
}
.content-body{
    min-height: 100vh;
}

.form{
    margin-top: 30px;
    /*padding: 40px;*/
}
.col-rest-right{
    padding-right: 0;
}
.col-rest-left{
    padding-left: 0;
}


.currency-icon-sm{
    top: 5%;
    position: absolute;
    right: 1%;
}

.form-section-head{
    margin: 15px 0;
}
.form-section-head h4{
    padding: 0;
    margin: 0;
}
.patient-top-card{
    margin-bottom: -20px;
}



/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.vertical-tab-section{
    width: 100%;
    margin-bottom: 20px;
    float: right;
}

.right-border{
    border-right: 1px solid #ccc;
}

.section-head {
    color: #1D2B36;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #1D2B36;
}