.main-menu .navigation li > a > i, .main-menu .dropdown-menu i, .main-menu .dropdown-user > a > i, .main-menu .navigation > li > a > i {
  float : right;
}

.dropdown-user.nav-item i {
  float : right;
}

.menu-expanded .form-group i {
  float : inherit;
}

.form-control-position i {
  top : 25%;
  position : absolute;
  right : 25%;
}

.ui-widget-icon-block {
  right : 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  right : 3rem;
}

.btn i[class^='icon-'], .btn i[class*=' icon-'] {
  line-height : 1.25rem;
}

code[class*='language-'], pre[class*='language-'] {
  direction : ltr;
}

@media print {
  code[class*='language-'], pre[class*='language-'] {
    text-shadow : none;
  }
}


img.brand-logo{
  max-width: 100px;
  max-height: 60px;
}


.section-head {
  color: #1D2B36;
  line-height: 3rem;
  margin-bottom: 20px;
  border-bottom: 1px solid #1D2B36;
  display: block;
  width: 100%;
  float: right;
  padding: 0 20px;
}

